@font-face {
  font-family: SAO;
  src: url(font/saoui.otf);
}
a
{
	color: black;
}
body
{
	background-color: rgb(230,230,230);
	margin: 0px;
	padding: 0px;
}
.red
{
	color: red;
}
.green
{
	color: green;
}
.menubar
{
	border: 1px solid black;
	border-radius: 5px 5px;
	background-color: rgb(240,240,240);
	padding: 5px;
}
.main
{

}
.film
{
	display: inline-block;
	width: 300px;
	height: 500px;
	/*border: 1px solid black;*/
	border: none;
	font-size: 30px;
	font-family: SAO;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	transition-property: text-shadow, left, right, top, bottom;
	transition-duration: 0.5s;
	text-shadow: 0px 0px 0px black;
	padding: 0px;
	color: white;
}
.film .filmImg
{
	width: 280px;
	height: 420px;
	margin: 0px;
	padding: 0px;
	border-radius: 15px 15px;
	box-shadow: 0px 0px 0px black;
	transition-property: box-shadow, border-radius;
	transition-duration: 0.5s;
}
.film:hover
{
	text-shadow: 0px 0px 5px black;
}
.film:hover .filmImg
{
	border-radius: 5px 5px;
	box-shadow: 0px 0px 10px black;
}
.filmD1
{
	margin-top: 10px;
	width: 300px;
	height: 420px;
	/*overflow: hidden;*/
}
.filmD2
{
	width: 280px;
	height: 30px;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 5px;
	color: black;
	text-decoration: none;
}
/*@-webkit-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
.film:hover .filmD2
{
	-webkit-animation:linear marqueelike 20s infinite ;
}*/
.filmDIV
{
	text-align: center;
	background-color: white;
}

/* Style Fiche Film */
.cover .filmImg
{
  width: 280px;
  height: 420px;
  margin: 0px;
  padding: 0px;
  border-radius: 15px 15px;
  box-shadow: 0px 0px 0px black;
  transition-property: box-shadow, border-radius;
  transition-duration: 0.5s;
}

.title .name
{
  font-size: 50px;
	font-family: SAO;
	overflow: hidden;
}
.title .date_release
{
  font-size: 40px;
	font-family: SAO;
	overflow: hidden;
}
.cover
{
  float: left;
  min-width: 400px;
}
.data
{
  /*margin: 10px;
  display: inline-block;
  width: 700px;*/
  margin-right: 10px;
  min-width: 700px;
}
h1,h2,h3,h4,h5,h6
{
	font-family: SAO;
}
h1
{
	font-size: 35px;
}
h2
{
	font-size: 30px;
}
h3
{
	font-size: 25px;
}
/*.line_box .box_body
{
  display: inline-block;
  width: 300px;
  height: 150px;
}
.line_box
{
  display: block;
  position: relative;
}
.box_body .h2
{
  display: inline-block;
  font-size: 20px;
}
.box_body p
{
  display: inline-block;
  line-height: 20px;
}
.box_body h3
{
  display: inline-block;
  position: relative;
  line-height: 20px;
}
.box2
{
  margin-top: 100px;
  display: block;
}*/
.ba
{
	width: 800px;
	height: 600px;
	margin: auto;
	padding: 0px;
}
.ba_hover
{

	position: fixed;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
	display: none;
	z-index: 10;
}


.ctr
{
	width: 800px;
	height: 600px;
	margin: auto;
	padding: 0px;
	text-align: center;
}

.ctr2
{
	width: 400px;
	height: 80px;
	margin: auto;
	padding: 0px;
	text-align: center;
}

/* Stars */
.star {
    position: relative;
    display: inline-block;
    margin: 2px;
    }
.star .img-bottom {
	width: 30px;
	height: 30px;
}
.star .img-top {
	width: 30px;
	height: 30px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.star:hover .img-top {

    display: inline;
}
