@font-face {
  font-family: SAO;
  src: url(font/saoui.otf);
}
a
{
	color: black;
}
body
{
	background-color: rgb(230,230,230);
	margin: 0px;
	padding: 0px;
}
.red
{
	color: red;
}
.green
{
	color: green;
}
.menubar
{
	border: 1px solid black;
	border-radius: 5px 5px;
	background-color: rgb(240,240,240);
	padding: 5px;
}
.main
{

}
.film
{
	display: inline-block;
	width: 300px;
	height: 500px;
	/*border: 1px solid black;*/
	border: none;
	font-size: 30px;
	font-family: SAO;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	transition-property: text-shadow, left, right, top, bottom;
	transition-duration: 0.5s;
	text-shadow: 0px 0px 0px black;
	padding: 0px;
	color: white;
}
.film .filmImg
{
	width: 280px;
	height: 420px;
	margin: 0px;
	padding: 0px;
	border-radius: 15px 15px;
	box-shadow: 0px 0px 0px black;
	transition-property: box-shadow, border-radius;
	transition-duration: 0.5s;
}
.film:hover
{
	text-shadow: 0px 0px 5px black;
}
.film:hover .filmImg
{
	border-radius: 5px 5px;
	box-shadow: 0px 0px 10px black;
}
.filmD1
{
	margin-top: 10px;
	width: 300px;
	height: 420px;
	/*overflow: hidden;*/
}
.filmD2
{
	width: 280px;
	height: 30px;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 5px;
	color: black;
	text-decoration: none;
}
/*@-webkit-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
.film:hover .filmD2
{
	-webkit-animation:linear marqueelike 20s infinite ;
}*/
.filmDIV
{
	text-align: center;
	background-color: white;
}

/* Style Fiche Film */
.cover .filmImg
{
  width: 280px;
  height: 420px;
  margin: 0px;
  padding: 0px;
  border-radius: 15px 15px;
  box-shadow: 0px 0px 0px black;
  transition-property: box-shadow, border-radius;
  transition-duration: 0.5s;
}

.title .name
{
  font-size: 50px;
	font-family: SAO;
	overflow: hidden;
}
.title .date_release
{
  font-size: 40px;
	font-family: SAO;
	overflow: hidden;
}
.cover
{
  float: left;
}
.data
{
  margin: 10px;
  display: inline-block;
  width: 700px;
}
.line_box .box_body
{
  display: inline-block;
  width: 300px;
  height: 150px;
  /* margin-left: 25px;
  margin-top: 40px; */
}
.line_box
{
  display: block;
  position: relative;
}
.box_body .h2
{
  display: inline;
  font-size: 20px;
}
.box_body p
{
  display: inline-block;
  line-height: 20px;
}
.box_body h3
{
  display: inline-block;
  position: relative;
  line-height: 20px;
}
.box2
{
  margin-top: 100px;
  display: block;
}
