@font-face {
  font-family: SAO;
  src: url(font/saoui.otf);
}
body
{
	background-color: rgb(230,230,230);
	margin: 0px;
	padding: 0px;
}
.menubar
{
	border: 1px solid black;
	border-radius: 5px 5px;
	background-color: rgb(240,240,240);
	padding: 5px;
}
.cover
{
  float: left;
}
.data
{
  float: right;
}
.filmImg
{
	width: 280px;
	height: 420px;
	margin: 0px;
	padding: 0px;
	border-radius: 15px 15px;
	box-shadow: 0px 0px 0px black;
	transition-property: box-shadow, border-radius;
	transition-duration: 0.5s;
}
.block
{
  float:left;
}
.title
{
  float:right;
}
